<h1>First name: <%= @employee.first_name %></h1>
<h1>Last name: <%= @employee.last_name %></h1>
<h3>Alias :<%= @employee.alias %></h3>
<h3>Job title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog name: <%= @employee.dog.name %></h3>
<img src="<%= @employee.img_url%>" alt="Photo">
